<!doctype html>
<html >

<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/index.css">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">All The News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/business">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/entertainment">Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/health">Health</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/science">Science</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/sports">Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/technology">Technology</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search?q=+q" method="get" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</head>

<body> 

    <div class="container">
        <div style="flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
            {% for data in news %}

                <div class="news-content" style="margin-left:5%;position:relative;width:40%;float:left;margin-bottom:0px;display: block;"> 
                        {{data.title}}
                       
                      <a href="/news/{{data.id}}/{{data.publishedAt|date("Y-m-d")}}">
                      <img src='{{data.urlToImage}}' style="max-height:100%; max-width:100%;">
                     </a>
                     
                </div>
            {% endfor %}
        </div>
    </div>

    {% if news is not empty %}
    <div id="button-area" class="center" style="float:left;height: 100%;width: 100%;background:gray;margin-top:5%;"> 
        <button id = "previous_page" class="btn btn-primary" style="float:left;margin-left:30%;" >&laquo; Previous</button> 
         <button id = "next_page" class="btn btn-primary" style="float:right;margin-right:30%;">Next &raquo;</button> 
  </div>
   {% endif %}

    <script src="{{ asset('static/index.js') }}" type="text/javascript"></script>

</body>

</html>